<style>
    body {

        background-image: url("img/loginpage.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        background-attachment: fixed;

    }

    .title {
        position: absolute;
        left: 17%;
        top: 5%;
        margin-right: -50%;
        max-width: 60%;
    }

    .userName {
        color: grey;
        text-decoration: underline;
        font-weight: bold;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        width: 8em
    }

    .password {
        color: grey;
        text-decoration: underline;
        font-weight: bold;
        text-align: center;
    }

    .login {
        color: #FFFFE0;
        font-weight: bold;
        text-align: center;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%)
    }

    .btn {
        background-color: goldenrod;
        color: white;
        width: 100px;
        height: 40px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
        font-weight: 500;
        margin-top: 10px;
    }

    h5,
    a {
        text-align: center;
        margin-top: 15px;
        font-size: small;
        color: lightgrey;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="row">
                <img src="/img/title.png" class="title" alt="title">
            </div>
            <form class="login">

                <div class="form-group">
                    <label for="inputUsername">Username</label>
                    <input type="username" class="form-control" id="username-input" placeholder="Username">
                </div>
                <div class="form-group">
                    <label for="inputPassword">Password</label>
                    <input type="password" class="form-control" id="password-input" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-default">Login</button>
                <h5>New here? <br> Click <a href="/signup">this</a> to create an account!</h5>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="passwordModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Invalid login credentials</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Either your username or password is incorrect. <br> Try again or make a new account
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="j-s/login-script.js"></script>