<style>
    body {

        background-image: url("img/loginpage.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        background-attachment: fixed;
        background-color: #464646;
        max-width: 767px;
    }

    h2 {
        color: #D3D3D3;
        text-decoration: underline;
        margin: 0;
        position: absolute;
        top: 30%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%)
    }

    .userName {
        color: grey;
        text-decoration: underline;
        font-weight: bold;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        width: 8em
    }

    .password {
        color: grey;
        text-decoration: underline;
        font-weight: bold;
        text-align: center;
    }

    .login {
        color: #FFFFE0;
        font-weight: bold;
        text-align: center;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%)
    }

    .btn btn-default {
        background-color: #E7E7E7;
    }

    p {
        color: #E7E7E7;
        border: 2px solid;
        width: 5rem;
        background-color: #FF8C24;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h2>Sign Up Form</h2>
            <form class="signup">
                <div class="form-group">
                    <label for="inputUsername">Username</label>
                    <input type="username" class="form-control" id="username-input" placeholder="Username">
                </div>
                <div class="form-group">
                    <label for="inputPassword">Password</label>
                    <input type="password" class="form-control" id="password-input" placeholder="Password">
                </div>
                <div style="display: none" id="alert" class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span> <span class="msg"></span>
                </div>
                <button type="submit" class="btn btn-default">Sign Up</button>
            </form>
            <br />
            <p>Or log in <a href="/login">here</a></p>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="j-s/signup-script.js"></script>