body {
  background-image: url("../img/forestbk.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

/* #sidebar {
  min-width: 250px;
  max-width: 250px;
  min-height: 100vh;
}

#sidebar.active {
  margin-left: -250px;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

/* body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
} */
p {
  font-family: "Poppins", sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}

.navbar,
.navbar a {
  background-color: #2d8db2;
  color: black;
  margin-bottom: 10px;
}

.card {
  margin-top: 5px;
  margin-bottom: 5px;
  opacity: 85%;
  background-color: blanchedalmond;
}

.custom-select {
  border-radius: 8px;
  background-color: blanchedalmond;
  opacity: 85%;
}
